.raindrop {
    position: absolute;
    top: -36px;
    width: 1.2px;
    height: 26px;
    background: #00b3ff;
    opacity: 0;
    animation: rainDrop 1s linear infinite;
}
  
  @keyframes rainDrop {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(50vh);
      opacity: 0;
    }
}

@media (max-height: 500px) and (orientation: landscape) {
    .raindrop {
        width: 0.8px;
        height: 16px;
        animation: landscapeRainDrop 1s linear infinite;
    }
    
    @keyframes landscapeRainDrop {
        0% {
          transform: translateY(0);
          opacity: 1;
        }
        100% {
            transform: translateY(30vh);
            opacity: 0;
        }
    }
}