.flash{
    animation: lightning ease-in 0.2s 2s 3
}

@keyframes lightning {
    0% {
        opacity: 1;
        color: yellow;
    }
    20% {
        color: white;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1;
        color: yellow;
    }
    80% {
        color: white;
        right: 30%;
        transform: translateY(24%) scale(1.5);
    }
    100% {
        opacity: 0;
    }
}