.main-container {
    position: sticky;
    width: 100%;
    max-width: 840px;
    height: auto;
    left: 22%;
    bottom: 10%;
    margin: 0 auto;
    animation: visual 0.5s ease-out;
}

@media (max-width: 1200px) {
    .main-container {
        max-width: 800px;
        left: 1%;
    }
}

@media (max-width: 768px) {
    .main-container {
        max-width: 400px;
        left: 2%;
        bottom: 16%;
    }
}

@media (max-width: 480px) {
    .main-container {
        max-width: 200px;
        bottom: 36%;
    }
}

@keyframes visual {
    0% {
        width: 0px;
        opacity: 0;
        transform: scale(0.8);
    }
    50% {
        width: 50%;
        opacity: 0.7;
        transform: scale(1.8);
    }
    100% {
        width: 100%;
        opacity: 1;
        transform: scale(1);
    }
}